/* ===== Global Styles ===== */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    color: #333;
}

/* Centered Layout */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* ===== Header Image ===== */

.header-image {
    width: 100%;
    height: 350px;
    background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid #ddd;
 
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(1.01); }
    to { opacity: 1; transform: scale(1); }
}

/* ===== Header Text ===== */

header h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 32px;
}

header p {
    text-align: center;
    font-size: 18px;
    color: #666;
}

/* ===== Section Titles ===== */

h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 26px;
}

/* ===== Skills List ===== */

ul {
    list-style: disc;
    padding-left: 40px;
    font-size: 18px;
}

/* ===== Project Cards ===== */

.project {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}

.project h3 {
    margin: 0 0 10px;
}

.project a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

/* ===== Contact Section ===== */

/* ===== Contact Section ===== */
.contact {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
}

.contact h2 {
  margin-bottom: 12px;
  font-size: 28px;
}

.contact p {
  margin: 8px 0;
  font-size: 18px;
}

/* شكل الروابط (Email / GitHub) */
.contact a {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}

.contact a:hover {
  text-decoration: underline;
}

/* GitHub Button */
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0077cc;
  color:white;          /* لون النص */
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
}

.btn:hover {
  background-color: #005fa3;
  color: white;
}